@model IEnumerable<HProject.Models.revenue>
@{
    ViewBag.Title = "Bystoreandstaff";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h1 style="padding-left:30%"><b><i>Report by Staff and Store</i></b></h1>*@
<h2>Report by Staff and Store</h2>
<br />
@{
    var fromDate = (DateTime)ViewBag.fromDate;
    var toDate = (DateTime)ViewBag.toDate;
    var TotalQuantity = Model.Sum(x => x.Quantity);
    var TotalStore = Model.Sum(a => a.Quantity * a.Price);
}

@using (Html.BeginForm("Bystoreandstaff", "ReportView", FormMethod.Get))
{
<div style="padding-left:1%">
    <b>From Date:&nbsp;&nbsp;&nbsp;</b> @Html.TextBox("fromDate", string.Format("{0:dd/MM/yyyy}", fromDate), new { @class = "datefield form-control", style = "width: 250px; display: inline", type = "date" })&nbsp;&nbsp;&nbsp;
    <b>To Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> @Html.TextBox("toDate", string.Format("{0:dd/MM/yyyy}", fromDate), new { @class = "datefield form-control", style = "width: 250px; display: inline", type = "date" })
    <b>Store:&nbsp;</b>@Html.DropDownList("StoreList", ViewBag.StoreName as SelectList, "Plesae Select Store", new { @class = "form-control", style = "width: 250px; display: inline" })&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Staff Name:&nbsp;</b>@Html.DropDownList("staff", ViewBag.staffName as SelectList, "Plesae Select Staff", new { @class = "form-control", style = "width: 250px; display: inline" })&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-info" type="submit">Search</button>
</div>
    <div style="padding-left:20%">
        <br />
        @*<b>Store Address:&nbsp;</b>@Html.DropDownList("StoreList", ViewBag.StoreName as SelectList, "Plesae Select Store")&nbsp;&nbsp;&nbsp;
        <b>Staff Name:&nbsp;</b>@Html.DropDownList("staff", ViewBag.staffName as SelectList, "Plesae Select Staff")&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-info" type="submit">Search</button>*@
        <div style="padding-left:30%">
            <br />
            @*<button class="btn btn-sm btn-info" type="submit">Search</button>*@
        </div>
    </div>
}
<br />
<br />
<div class="row-fluid sortable">
    <div class="">
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDetailId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StoreLocation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePersonName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var total = item.Price * item.Quantity;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDetailId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.CustomerPhone)*@
                                @*@item.TotalPrice*@
                                $@total

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StoreLocation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SalePersonName)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5"></td>
                        <td style="color:#0f9aee"><b>Quantity: @TotalQuantity</b></td>
                        <td style="color:#0f9aee"><b> $@TotalStore</b></td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div><!--/span-->

</div>

