@model IEnumerable<HProject.Models.Order>

@{
    ViewBag.Title = "Weekly";
    Layout = "~/Views/Shared/_ShareLayout.cshtml";
}

<h2>Weekly</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalePerson.SalePersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalePerson.SalePersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.OrderId }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.OrderId })*@
        </td>
    </tr>
}

</table>
