@model HProjectStaff.Models.Order
@{
    ViewBag.Title = "CreateOrder";
}
<br />
<br />

<h2><img src="~/Item/download.png" width="100" height="100" />Adding products</h2>
<br />
@*<form class="form-inline" method="post">
        <select name="ProductId" class="form-control" style="min-width:350px;">
            @foreach (var item in ViewBag.Products)
            {
                <option value="@item.ProductId">@item.ProductName</option>
            }
        </select>

        <input name="UnitsInOrder" class="form-control" type="number" style="width:80px;" />
        <button type="submit" name="btnSubmit" id="SubmitButton" value="Submit" class="btn btn-success" formaction="/Cart/Add">Add</button>
    </form>*@
@using (Html.BeginForm("CreateOrder", "Orders", FormMethod.Get, new { searchString = "searchString" }))
{
    <p>
        Find by name: &nbsp &nbsp @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-striped table-hover">
    <tr class="info">
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.Products as IList<HProjectStaff.Models.Product>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td class="btn-group-vertical  btn-sm">
                    @Html.ActionLink("Add", "Add", "Cart", new { ProductId = item.ProductId }, new { @class = "btn btn-primary" })
                </td>*@
            @using (Html.BeginForm("Add", "Cart", new { ProductId = item.ProductId }))
            {
                <td>
                    @Html.Editor("abc", new { htmlAttributes = new { Type = "number", min = 0 } })
                </td>
                <td class="btn-group-vertical  btn-sm">
                    <input type="submit" value="Add" name="Add" class="btn btn-primary" />
                </td>
            }

        </tr>
    }
</table>

<br />
<br />



@using (Html.BeginForm())
{
    <h2><img src="~/Item/empty-cart-dark.png" width="100" height="100" />Shopping Cart</h2>
    <br />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                @*<th>Image</th>*@
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in HProjectStaff.Models.ShoppingCart.Cart.Items)
            {
                <tr>
                    <td>@item.ProductId</td>
                    @*<td>@item.Image</td>*@
                    <td>@item.ProductName</td>
                    <td>$@item.Price</td>
                    <td>
                        <input style="width:80px;" type="number" value="@item.UnitsInOrder" name="@item.ProductId" new { htmlAttributes=new Type="number" , min=0 } />
                    </td>
                    <td>$@(item.Price * item.UnitsInOrder)</td>
                    <td>
                        <a id="@item.ProductId" class="btn btn-danger btn-xs" href="/Cart/Remove?ProductId=@item.ProductId">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h1 style="color:red">Total Price: $@HProjectStaff.Models.ShoppingCart.Cart.Amount</h1>
    <br />
    <button class="btn btn-success" formaction="/Cart/Update">Update Quantity</button>

    <br />
    <br />
    <br />




    <h2><img src="~/Item/checkout-dark.png" width="100" height="100" />Order's info - Checkout</h2>
    <br />
    <label>Customer Name</label>
    <input id="CustomerName" name="CustomerName" class="form-control" />
    <label>Customer Phone</label>
    <input id="CustomerPhone" name="CustomerPhone" class="form-control" />
    <label>Date</label>
    <input type="date" id="OrderDate" name="OrderDate" class="form-control" />

    <br />
    <br />

    <div class="text-left">
        @*<button class="btn btn-success" formaction="/Cart/Update">Update Quantity</button>*@
        <a href="/Cart/Clear" class="btn btn-danger">Clear</a>
        <button class="btn btn-primary">Submit</button>
    </div>
    @Html.ValidationSummary();
}